<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flatsondemand.user">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fod_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fod_logo_round"
        android:supportsRtl="true"
        android:theme="@style/noActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.PropertyView" android:parentActivityName=".activity.PropertySearch"></activity>
        <activity
            android:name=".activity.PropertySearch"
            android:parentActivityName=".activity.SearchActivity" />
        <activity
            android:name=".activity.SearchActivity"
            android:parentActivityName=".activity.Home" />
        <activity
            android:name=".activity.OpenWebView"
            android:parentActivityName=".activity.Home"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".activity.PaymentHistoryForBooking"
            android:theme="@style/noACtionBarHome" />
        <activity android:name=".activity.Complaints" />
        <activity android:name=".activity.HoseKeepingSchedule" />
        <activity
            android:name=".activity.SingleFod"
            android:theme="@style/noActionBarWithTransparent" />
        <activity android:name=".TestAnim" />
        <activity
            android:name=".activity.PaymentByBooking"
            android:parentActivityName=".activity.Home" />
        <activity
            android:name=".activity.Home"
            android:theme="@style/noACtionBarHome" />
        <activity
            android:name=".activity.OtpVerify"
            android:parentActivityName=".activity.Login"
            android:theme="@style/noActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.Login"
            android:theme="@style/noActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>